/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* butbbnon */
:root {
	--toolbarbutton-hover-background: none !important;
	--toolbarbutton-active-background: none !important;
}
#nav-bar .unified-extensions-item toolbarbutton:not([disabled=true]),
#nav-bar toolbarbutton:not([disabled=true]) /*> :is(.toolbarbutton-badge-stack,.toolbarbutton-icon) */ {
  appearance: auto !important;
  -moz-default-appearance: toolbarbutton !important;
}
